<!-- Blog Start -->
<div class="blog page-shell">
  <div class="container">
    <div class="section-header">
      <h2>Indian Acts</h2>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>

    <div *ngIf="isLoading" class="text-center py-4">
      <div class="spinner-border text-warning" role="status"></div>
    </div>

    <div *ngIf="!isLoading && !errorMessage" class="row blog-page">
      <div *ngFor="let act of paginatedActs" class="col-lg-4 col-md-6 blog-item">
        <img [src]="getActImage(act)" [alt]="act.actName || 'Act image'">
        <h3>{{ act.actName || 'Untitled Act' }}</h3>
        <div class="meta">
          <i class="fa fa-list-alt"></i>
          <a href="javascript:void(0)">{{ act.alias || 'Act' }}</a>
          <i class="fa fa-calendar-alt"></i>
          <p>{{ getFormattedDate(act.dateOfEffect) }}</p>
        </div>
        <p>{{ act.actDetails || 'Detailed information about this act will be available soon.' }}</p>
        <a class="btn btn-outline-secondary" href="javascript:void(0)" (click)="selectAct(act)">Read More <i class="fa fa-angle-right"></i></a>
      </div>
    </div>

    <div *ngIf="!isLoading && !errorMessage && acts.length > 0" class="row">
      <div class="col-12">
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" href="javascript:void(0)" (click)="goToPreviousPage()">Previous</a>
          </li>
          <li *ngFor="let page of pageNumbers" class="page-item" [class.active]="page === currentPage">
            <a class="page-link" href="javascript:void(0)" (click)="goToPage(page)">{{ page }}</a>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" href="javascript:void(0)" (click)="goToNextPage()">Next</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Blog End -->
 <app-footer></app-footer>